/*                       */
/*     FONT IMPORT       */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url("https://db.onlinewebfonts.com/c/b7d4f106ab4959cc88cb7d0878c732c6?family=Kessel205W00-Book&weight=400"); 
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


/*                       */
/*     MAIN APP CSS      */
/*                       */


/* DEFINE ROOT COLORS HERE */
:root {
  --font_size_default: 16px;
  --white: #F6F5EA;
  --alt_white: #CBE5EC;
  --red: #CD2D3B;
  --main_bg: #2B2D2F;
  --blue: #46548B;
  --navbar_shadow: #2b2d2fb0;
  --shadow: #979393;
  --background: #EFEFEF;
  --black:#0F2F47;
}
/* END ROOT STYLES */

/* RESET CSS */
html, body, * {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Kessel205W00-Book";
  word-spacing: .097rem;
  font-display: swap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  font-size: var(--font_size_default);
}

body {
  background-color: var(--main_bg);
}
/* END CSS RESET */

/* SET BACKGROUND COLOR AND PAGE SIZING */
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--main_bg);
  overflow-x: hidden;
  transition: all 800ms ease;
}


/* MAIN  -- TO BE USED ON ALL VIEW PAGES */
main {
  flex: 1;
  padding-top: 130px;
  background-color: var(--main_bg);
}
/* END MAIN  */

/* STANDARDIZE FONT SIZES */
h1, h2, h3, h4, h5, h6, a, p {
  transition: all 300ms ease;
  color: var(--white);
}

h1 {
  font-size: 2.85rem;
  letter-spacing: .125em;
  margin: 0;
  /* text-shadow: 0.5px 0.5px 0.5px var(--shadow); */
}

h2 {
  font-size: 1.75rem;
  /* text-shadow: 0.5px 0.5px 0.5px var(--shadow); */
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
}
/* END STANDARDIZE FONT SIZES */

/* INCREASE FONT SIZES FOR LARGER SCREEN VIEWS */
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.58rem;
  }
  h4 {
    font-size: 1.295rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.265rem;
  }
}
/* END OF INCREASE FONT SIZES FOR LARGER SCREEN VIEWS */

/* CONDITIONAL RENDERING BASED ON SCREEN SIZE */
@media only screen and (min-width:580px) {
  .mobile_only {
      display:none !important;
  }
}

@media only screen and (max-width:579px) {
  .desktop_only {
      display:none !important;
  }
}
/* END OF CONDITIONAL RENDERING BASED ON SCREEN SIZE */

/*                          */
/*    END MAIN APP CSS      */
/*                          */


/*                              */
/*        PAGE LAYOUTS          */
/*                              */

/* GENERAL PAGE WRAPPER */
.wrapper {
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ONE LARGE CENTERED CONTAINER */
.centered_box {
  min-width: 290px;
  max-width: 750px;
  margin: 12px 5px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 90%;
    margin: 36px auto;
    min-width: 285px;
    aspect-ratio: 2/1;
    border: 3px solid var(--blue);
    box-shadow:  8px 8px 10px var(--shadow);
    border-radius: 20px;
    filter: brightness(var(--image_brightness))
  }
}

/* TWO BOX CONTAINER - SPLIT LEFT/RIGHT */
.split_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--main_bg);
}

.hidden {
  opacity: 0;
  transition: all 700ms ease-in;
  overflow: hidden;
}

.left {
  transform: translateX(-250px);
}

.right {
  transform: translateX(250px);
}

.bottom {
  transform: translateY(250px);
}

.show {
  transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* THIS FLIPS THE WRAP (CAN BE USED TO PREVENT BACK TO BACK IMAGES OR TEXT ON PAGE COLLAPSE/PHONE VIEW) */
.flip {
  flex-wrap: wrap-reverse;
}

/* SPLIT TEXT CONTAINER */
.split_box_text {
  width: 40%;
  min-width: 300px;
  max-width: 800px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

/* SPLIT IMAGE CONTAINER */
.split_box_img {
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
  img {
    width: 100%;
    min-width: 300px;
    max-height: 550px;
    aspect-ratio: 1.4/1;
    filter: brightness(var(--image_brightness))
  }
}

/* LIST CONTROL */
.split_box_text ul, .centered_box ul {
  width: 75%;
  min-width: 240px;
  margin: 0 auto;

  li {
    list-style-type: disc;
    color: var(--black);
  }
}

/* TEXT ALIGNMENT */
.wrapper, .split_box_text, .centered_box {
  h1, h2 {
    text-align: center;
    margin: 16px 0;
  }
  h3 {
    text-align: center;
    margin: 12px 0;
  }
  h4 {
    text-align: center;
    margin: 8px 0;
  }
  p {
    margin: 8px;
    text-align:start;
  }
}

@media (max-width: 1065px) {
  .split_box_text, .split_box_img, .split_box {
    margin: 5px auto;
  }
  .split_box_img {
    width: 95%;
  }
  .split_box_text {
    width: 100%;
  }
}

/*                           */
/*     END PAGE LAYOUTS      */
/*                           */


/*                      */
/*   SCROLL BAR STYLE   */
/*                      */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--alt_white); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5066B3;
}
/*                          */
/*   END SCROLL BAR STYLE   */
/*                          */

/*                     */
/*    Nav Bar Style    */
/*                     */
.nav_header {
  position: fixed;
  max-height: 110px;
  z-index: 999;
  width: 100%;
  padding-top: 16px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  box-shadow:  0px 8px 10px var(--navbar_shadow);
  background: var(--main_bg) url("./assets/Images/HeaderFull.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 1;
  top: 0px;
  border-bottom: 2px solid var(--blue); 
  
  .nav_row {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 10px;
    padding: 0 36px;
  }
  .navigation {
    position: relative;
    top: 12px;

    a {
      font-size: 1.1rem;
      border-radius: 5px;
      letter-spacing: .15rem;
      font-weight: bolder;
    }
  }
}

@media only screen and (max-width: 950px) {
  .nav_header {
  
      .navigation {
        opacity: 0;
        pointer-events: none;

        a {
          padding: 1px 2px;
        }
      }
  }
}

.open_nav {
  max-height: 285px !important;
  
  .navigation {
    opacity: 1;
    top: -70px;
    pointer-events: all;
  }
}

.open_nav .mobile_toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 70% 35%;
  transform-origin: 70% 39%;
}

.logo {
  position: relative;
  top: -24px;
  width: 220px;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;

    img {
      height: 100px;
      width: 110px;
      padding: 5px;
      border-radius: 50%;
      background-color: #2B2D2F10;
      backdrop-filter: blur(1px);
      filter: drop-shadow( 0px 0px 3px black);
    }
}

@media only screen and (max-width: 950px) {
  .logo {
      float: none;
  }
}

nav {
  float: right;
  width: 60%;
}

@media only screen and (max-width: 950px) {
  nav {
      width: 100%;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  width: 770px;
  
  li {
      display: inline-block;
      margin-left: 24px;
      line-height: 1.5;
  }
}

@media only screen and (max-width: 950px) {
  .navigation {
    padding-top: 10px;
    left: 20px;
  }
  nav ul {
  width: 100%;
  
    li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
    }
  }
}

/* Nav Bar Link Style */
nav ul a {
  position: relative;
  font-size: 0.95rem;
  color: var(--white);
  filter: drop-shadow( 2px 2px 2px black);
  padding-bottom: 2px;
  border-bottom: transparent;
  
  &:hover {
    color: #bdbdbd;
  }
  &::before {
      left: 0; 
  }
  &::after {
      right: 0;
  }
}

nav ul a:before, nav ul a:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav ul a:after {
  border-bottom: 3px solid var(--red);
}

nav ul a:before {
  border-bottom: 3px solid var(--blue);
}

nav ul a:hover:before, nav ul a:hover:after {
  width: 50%;
}

.mobile_toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 950px) {
  .mobile_toggle, .hero_mobile_toggle {
      display: block;
  }
}

#hamburger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: block;
  z-index: 99999;
  position: relative;
  left: 5px;
  top: 5px;
  transition: all 200ms ease;
}

#hamburger:before {
  content: '';
  display: block;
  height: 3.5px;
  width: 30px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 10px 0 var(--white), 0 20px 0 var(--white);
  filter: drop-shadow(0 0 3px black);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

/*                     */
/*  END NAVBAR STYLE   */
/*                     */


/*                             */
/*     BUTTON COMPONENT        */
/*                             */
.button_box {
  margin: 15px auto;
  position:relative;
  overflow:hidden;
  border-radius: 40px;
  transition:all .2s ease-in-out;
}

.button_box button {
  margin: 0 auto;
  padding: 0px 16px;
  min-width:220px;
  height:60px;
  position:relative;
  text-transform:uppercase;
  background-color: var(--blue);
  color: var(--main_bg);
  font-weight:900;
  letter-spacing:1px;
  border: none;
  font-size: 1.25rem;
  outline:none;
  cursor: pointer;
}

.button_box::before {
  content:" ";
  display:block;
  width:200px;
  height: 95px;
  background: #CBE5EC50;
  position:absolute;
  top:-5px;
  left:-200px;
  transform:rotate(45deg);
  transition:all .2s ease-in-out;
  z-index:1;
}

.button_box:hover:before {
  margin-left:300%;
}

.button_box:active {
  top: 4px;
}
/*                              */
/*     END BUTTON COMPONENT     */
/*                              */


/*                            */
/*        FOOTER STYLES       */
/*                            */
.footer {
  position: relative;
  padding: 16px 85px 36px 8px;
  margin-top: 16px;
  min-height: 95px;
  background: var(--main_bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease;
}

.footer_border {
  border-top: 2px solid var(--blue);
}

.footer_links {
  padding: 0 0 0 32px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 90px;
}

.footer_link_column {
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p, a {
    margin: 0;
    font-size: 0.9rem;
  }
  p {
  font-family: 'Source Sans Pro', sans-serif;
    color: var(--white);
  }
}

.footer_spacer {
  margin: 6px 0
}

.footer_socials {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 14px;
  transition: all 200ms ease;
  /* margin-top: 3px; */

  i {
    font-size: 1.35rem;
  }
  svg {
    position: relative;
    top: 2px;
  }
  svg, i {
      height: 20px;
      width: 20px;
      stroke: none;
      fill: var(--white);
      color: var(--white);
  }
  svg:hover, i:hover {
  fill: #bdbdbd;
  color: #bdbdbd;
  }
}

.footer_images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0 56px;
}

.footer_image_one {
  margin-top: 12px;
  height: 65px;
  border-radius: 50%;
}

.footer_image_two {
  margin-top: 8px;
  height: 67px;
}

@media screen and (max-width: 870px) {
  .footer_links {
      flex-direction: column;
      align-items: flex-start;

      a {
        margin-top: 5px;
      }
  }
  .footer_images {
    gap: 16px 56px;
    margin-right: 8px;
  }
  .footer_socials {
    margin-right: 8px;
    margin-top: 0px;
  }
  .bee_dev {
    height: 80px;
    margin-bottom: 16px;

      p, a {
          margin: 0;
      }
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding-right: 72px;
    padding-bottom: 16px;
  }
  .footer_links {
      padding-left: 12px;
  }
  .footer_images {
      margin-right: 0px;
      gap: 40px 16px;
      flex-direction: column;
  }
  .footer_socials {
      margin-right: 0px;
      margin-left: 2px;
  }
}

@media screen and (max-width: 370px) {
  .footer_images {
      margin-right: 4px;
      gap: 0 24px;
  }
  .footer_socials {
      margin-right: 4px;
  }
}

/*  Footer Link Style */
.footer_link {
  position: relative;
  font-size: 0.9rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;

  &:hover {
    color: #bdbdbd;
  }
  &::before {
      left: 0; 
  }
  &::after {
      right: 0;
  }
}

.footer_link:before, .footer_link:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer_link:after {
  border-bottom: 2px solid var(--red);
}

.footer_link:before {
  border-bottom: 2px solid var(--blue);
}

.footer_link:hover:before, .footer_link:hover:after {
  width: 50%;
}
/*                            */
/*      END FOOTER STYLES     */
/*                            */


/*                             */
/*     GO TO TOP COMPONENT     */
/*                             */
.go_top_button {
  position: fixed;
  top: calc(100% - 105px);  
  right: 25px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: var(--main_bg);
  color: var(--blue);
  border-left: 3px solid var(--blue);
  border-top: 3px solid var(--blue);
  border-right: 3px solid var(--red);
  border-bottom: 3px solid var(--red);
  border-radius: 25%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease;
  
  &:hover {
      color: var(--shadow);
      border: 3px solid var(--shadow);
  }
}

@media screen and (max-width: 870px) {
  .go_top_button {
      top: calc(100% - 160px); 
  }
}

@media screen and (max-width: 555px) {
  .go_top_button {
      right: 12px;
  }
}

@media screen and (max-width: 500px) {
  .go_top_button {
      height: 35px;
      width: 35px;
      font-size: 20px;
      right: 16px;
      top: calc(100% - 80px); 
  }
}
/*                             */
/*   END GO TO TOP COMPONENT   */
/*                             */


/*                          */
/*        SLIDESHOW         */
/*                          */
.slideshow, .slideshow::after { 
  position: relative;
  width: 100%;
  min-width: 300px;
  aspect-ratio: 1.4/1;
  list-style-type: none;
}

.slideshow li span { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--alt_white);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 18s linear infinite 0s;
}

/* images and times for slide show */
.slideshow li:nth-child(1) span { 
  background-image: url("./assets/Images/Slide1.jpg"); 
}
.slideshow li:nth-child(2) span { 
  background-image: url("./assets/Images/Slide2.jpg");
  animation-delay: 3s; 
}
.slideshow li:nth-child(3) span { 
  background-image: url("./assets/Images/Slide3.jpg");
  animation-delay: 6s; 
}
.slideshow li:nth-child(4) span { 
  background-image: url("./assets/Images/Slide4.jpg");
  animation-delay: 9s; 
}
.slideshow li:nth-child(5) span { 
  background-image: url("./assets/Images/Slide5.jpg");
  animation-delay: 12s; 
}
.slideshow li:nth-child(6) span { 
  background-image: url("./assets/Images/Slide6.jpg");
  animation-delay: 15s; 
}

/* Animation for slide show */
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

/*         DOTS STYLES       */
.dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--blue);
  border-radius: 20px;
  background-color: var(--shadow);
  padding: 2px;
  width: 150px;
  margin: 0 auto;
  transition: all 300ms ease;
  z-index: 100;

  li.dot, li.dot_active {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: thin solid var(--white);
      margin: 5px;
      cursor: default;
      transition: background-color 1s;
    }
    li.dot {
      background-color: var(--white);
    }
}

.dots li.dot_active {
  background-color: var(--blue);
}

@media screen and (max-width: 950px) {
  .dots {
    width: 125px;

    li.dot, li.dot_active {
      width: 12px;
      height: 12px;
      margin: 4px 4px;
    }
  }
}

@media screen and (max-width: 530px) {
  .dots {
    width: 100px;
    bottom: 12px;

    li.dot, li.dot_active {
      width: 8px;
      height: 8px;
      margin: 3px 3px;
    }
  }
}

@media screen and (max-width: 430px) {
  .dots {
    width: 75px;

    li.dot, li.dot_active {
      margin: 2px 2px;
    }
  }
}
/*                            */
/*    END SLIDESHOW STYLES    */
/*                            */


/*                   */
/*  404 PAGE STYLES  */
/*                   */
.error_404_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
      text-align: center;
      color: var(--white);
  }
  h4, h5 {
      margin-top: 8px;
      text-align: center;
      color: var(--white);
  }
  img {
      margin: 24px auto 16px;
      width: 50%;
      max-width: 600px;
      min-width: 290px;
      filter: drop-shadow(5px 5px 5px  var(--shadow));
  }
}

@media (max-width: 500px) {
  .error_404_page h2 {
      margin-top: 80px;
  }
}
/*                       */
/*  END 404 PAGE STYLES  */
/*                       */


/*                        */
/*    INDEX PAGE STYLE    */
/*                        */

.menu_link, .about_us {
  width: 100%;
  min-width: 300px;
  max-width: 95%;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--blue);
  border-right: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
  border-left: 2px solid var(--blue);
  
  h2 {
    margin: 0;
    padding: 2px 24px;
    background-color: var(--blue);
    color: var(--main_bg);
    width: 100%;
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--white);
    text-align: center;
    padding: 24px 24px 12px 24px;
    width: 100%;
  }
}

.about_us p {
  font-size: 1.1rem;
}
/*                          */
/*   END INDEX PAGE STYLE   */
/*                          */


/*                         */
/*     MENU PAGE STYLE     */
/*                         */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 16px auto;
  
  h1 {
    margin-top: 48px;
    text-align: center;
  }
  
  h5 {
    text-align: center;
    
    svg {
      position: relative;
      top: 2px;
    }
  }
}

.menu_drinks {
  margin: 0 0 48px;
  h1 {
    margin-bottom: 48px;
  }
  h3 {
    text-align: center;
    letter-spacing: .12rem;
    word-spacing: .197rem;
    font-size: 1.25rem;
        
    svg {
      color: var(--blue);
      position: relative;
      top: 2px;
      margin: 0 16px 0 12px;
    }
  }
}

.menu_card_container {
  width: 90%;
  max-width: 1400px;
  padding: 0 16px;
  margin: 36px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px 64px;
  transition: all 300ms ease;

  .menu_card {
    width: 400px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-top: 2px solid var(--blue);
    border-right: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
    border-left: 2px solid var(--blue);
    border-radius: 4px;

    img {
      height: 120px;
      aspect-ratio: 1/1;
      border: 3px solid var(--blue);
      border-radius: 50%;
      margin: 8px;
    }
    
    h5 {
      width: 98%;
      height: 35px;
      margin: 0 auto;
      font-size: 0.85rem;
      font-weight: 900;
      padding-bottom: 3px;
      text-align: center;
      border-bottom: thin solid var(--red);
    }
    p{
      margin: 8px auto;
      padding: 4px;
      width: 90%;
      font-size: 0.85rem;
      font-family: "Montserrat", sans-serif;
      min-height: 100px;
    }
  }
}

.shake {
  animation: wobble 0.5s 1;
}

@keyframes wobble {
  20% {
  transform: rotate(1deg);
  }
  40% {
  transform: rotate(-2deg);
  }
  60% {
  transform: rotate(0.5deg);
  }
  80% {
  transform: rotate(-0.5deg);
  }
  100% {
  transform: rotate(0deg);
  }
}

@media only screen and (max-width:780px) {
  .menu {
    
    h1 {
      font-size: 2.5rem;
    }
    
    h5 {
      font-size: 0.9rem;
    }
  }  
  .menu_drinks h3 {
      text-align: center;
      letter-spacing: .05rem;
      word-spacing: .05rem;
      font-size: 1rem;
    }
}

@media only screen and (max-width:650px) {
  .menu_drinks h1 {
        margin-bottom: 24px;
  }
  .drinks_break {
      display:none !important;
  }
}

@media only screen and (min-width:650px) {
  .menu_break {
      display:none !important;
  }
}

@media screen and (max-width:500px) {
  .menu_card_container {
    gap: 16px 0px;
    padding: 0;

    .menu_card {
      width: 350px;
      padding: 6px 0;

      img {
        height: 90px;
        width: 90px;
      }
      
      h5 {
        font-size: 1rem;
      }
      
      p{
        margin: 6px auto;
        padding: 4px;
        width: 90%;
        font-size: 0.85rem;
      }
    }
  }
}
/* @media screen and (max-width: 700px) {

} */

/*                         */
/*   END MENU PAGE STYLE   */
/*                         */


/*                      */
/*    LOCATION STYLE    */
/*                      */
.mapping iframe {
  min-height: 320px;
  min-width: 320px;
  width: 85dvw;
  height: 600px;
  border-top: 5px solid var(--blue);
  border-right: 5px solid var(--red);
  border-bottom: 5px solid var(--red);
  border-left: 5px solid var(--blue);
  filter: brightness(90%);
}

.contact_info {
  width: 100%;
  min-width: 350px;
  max-width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  
  * {
    text-align: center;
  }
  
  h3 {
    width: 275px;
    font-size: 1.8rem;
    letter-spacing: .125em;
    word-spacing: .197rem;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    margin: 56px 0 16px;
  }
  
  h4{
    letter-spacing: .09rem;
    word-spacing: .197rem;
    font-size: 1.125rem;
    padding-bottom: 3px;
    border-bottom: thin solid var(--white);
    width: 80%;
    margin: 18px auto 0px;
    font-family: "Kessel205W00-Book";
  }
  
  h5 {
    font-size: 1.075rem;
    font-weight: 100;
    letter-spacing: .09rem;
    word-spacing: .197rem;
    margin: 8px 0 0;
    font-family: "Source";
  }

  a {
    font-size: 1.35rem;
    letter-spacing: .05rem;
    word-spacing: .1rem;
    text-align: center;
    font-family: "Source";

    
    &:hover {
      color: var(--alt_white);
      text-decoration: underline;
    }
  }
}

.happy_hour {
  margin: 36px 0 12px;
  
  p {
    margin: 0;
    padding: 3px 8px;
    font-size: .85rem;
    letter-spacing: 0.09rem;
    text-align: center;
    border-top: thin solid var(--white);
    border-bottom: thin solid var(--white);
  }
}

@media screen and (max-width: 949px) {
  .contact_info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    h3 {
      margin-top: 36px;
    }
  }
  .wrapper h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 605px) {
  .happy_hour {
    margin: 36px 0 12px;
    min-width: 320px;
    width: 85dvw;
    
  }
}
/*                        */
/*   END LOCATION STYLE   */
/*                        */


/*                   */
/* COMING SOON MODAL */
/*                   */

/* COMING SOON MODAL */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2B2D2F70;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
  scroll-behavior: none;
}

/* Coming Soon Modal Content */
.coming_soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
  max-width: 500px;
  min-height: 300px;
  padding: 24px;
  text-align: center;
  background-color: #2B2D2F;
  border-top: 5px solid var(--blue);
  border-left: 5px solid var(--blue);
  border-bottom: 5px solid var(--red);
  border-right: 5px solid var(--red);
  border-radius: 8px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: auto;

  img {
    height: 100px;
    width: 100px;
    margin: 12px auto;
  }

  p {
    font-size: 1.125rem;
    margin: 8px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.no-scroll {
  overflow: hidden;
}

/*                       */
/* END COMING SOON MODAL */
/*                       */