/*                       */
/*     FONT IMPORT       */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url("//db.onlinewebfonts.com/c/b7d4f106ab4959cc88cb7d0878c732c6?family=Kessel205W00-Book");


/*                       */
/*     MAIN APP CSS      */
/*                       */


/* DEFINE ROOT COLORS HERE */
:root {
  --font_size_default: 16px;
  --white: #F6F5EA;
  --alt_white: #CBE5EC;
  --red: #CD2D3B;
  --main_bg: #2B2D2F;
  /* --blue: rgba(182, 0, 176, 1); */
  /*To match Sky Purple*/
  /* --blue: #831189;  */
  /* FROM SK LOGO */
  /* --blue: #5066B3;  */
  /* skyline blue */
  --blue: #0659CA;
  --navbar_shadow: #2b2d2fb0;
  --shadow: #979393;
  --background: #EFEFEF;
  --black:#0F2F47;
}
/* END ROOT STYLES */

/* RESET CSS */
html, body, * {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Kessel205W00-Book";
  word-spacing: .097rem;
  font-display: swap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;}

html {
  font-size: var(--font_size_default);
}
/* END CSS RESET */

/* SET BACKGROUND COLOR AND PAGE SIZING */
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--main_bg);
  overflow-x: hidden;
  transition: all 800ms ease;
}

/* MAIN  -- TO BE USED ON ALL VIEW PAGES */
main {
  flex: 1;
}
/* END MAIN  */

/* STANDARDIZE FONT SIZES */
h1, h2, h3, h4, h5, h6, a, p {
  transition: all 300ms ease;
  color: var(--white);
}

h1 {
  font-size: 2.25rem;
  /* text-shadow: 0.5px 0.5px 0.5px var(--shadow); */
}

h2 {
  font-size: 1.75rem;
  /* text-shadow: 0.5px 0.5px 0.5px var(--shadow); */
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
}
/* END STANDARDIZE FONT SIZES */

/* INCREASE FONT SIZES FOR LARGER SCREEN VIEWS */
@media (min-width: 1200px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.58rem;
  }
  h4 {
    font-size: 1.295rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.265rem;
  }
}
/* END OF INCREASE FONT SIZES FOR LARGER SCREEN VIEWS */

/* CONDITIONAL RENDERING BASED ON SCREEN SIZE */
@media only screen and (min-width:580px) {
  .mobile_only {
      display:none !important;
  }
}

@media only screen and (max-width:579px) {
  .desktop_only {
      display:none !important;
  }
}
/* END OF CONDITIONAL RENDERING BASED ON SCREEN SIZE */

/*                          */
/*    END MAIN APP CSS      */
/*                          */


/*                              */
/*        PAGE LAYOUTS          */
/*                              */

/* GENERAL PAGE WRAPPER */
.wrapper {
  width: 100%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ONE LARGE CENTERED CONTAINER */
.centered_box {
  min-width: 290px;
  max-width: 750px;
  margin: 12px 5px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 90%;
    margin: 36px auto;
    min-width: 285px;
    aspect-ratio: 2/1;
    border: 3px solid var(--blue);
    box-shadow:  8px 8px 10px var(--shadow);
    border-radius: 20px;
    filter: brightness(var(--image_brightness))
  }
}

/* TWO BOX CONTAINER - SPLIT LEFT/RIGHT */
.split_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--main_bg);
}

.hidden {
  opacity: 0;
  transition: all 700ms ease-in;
  overflow: hidden;
}

.left {
  transform: translateX(-250px);
}

.right {
  transform: translateX(250px);
}

.bottom {
  transform: translateY(250px);
}

.show {
  transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* THIS FLIPS THE WRAP (CAN BE USED TO PREVENT BACK TO BACK IMAGES OR TEXT ON PAGE COLLAPSE/PHONE VIEW) */
.flip {
  flex-wrap: wrap-reverse;
}

/* SPLIT TEXT CONTAINER */
.split_box_text {
  width: 40%;
  min-width: 300px;
  max-width: 800px;
  margin: 5px 5px 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

/* SPLIT IMAGE CONTAINER */
.split_box_img {
  width: 57%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  img {
    width: 100%;
    min-width: 300px;
    aspect-ratio: 2/1.43;
    border: 3px solid var(--blue);
    /* box-shadow:  8px 8px 10px var(--shadow);
    border-radius: 20px; */
    filter: brightness(var(--image_brightness))
  }
}

/* LIST CONTROL */
.split_box_text ul, .centered_box ul {
  width: 75%;
  min-width: 240px;
  margin: 0 auto;

  li {
    list-style-type: disc;
    color: var(--black);
  }
}

/* TEXT ALIGNMENT */
.wrapper, .split_box_text, .centered_box {
  h1, h2 {
    text-align: center;
    margin: 16px 0;
  }
  h3 {
    text-align: center;
    margin: 12px 0;
  }
  h4 {
    text-align: center;
    margin: 8px 0;
  }
  p {
    margin: 8px;
    text-align:start;
  }
}

@media (max-width: 1065px) {
  .split_box_text, .split_box_img {
    margin: 20px auto;
    width: 100%;
  }
}
/*                           */
/*     END PAGE LAYOUTS      */
/*                           */


/*                      */
/*   SCROLL BAR STYLE   */
/*                      */
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--alt_white); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5066B3;
}
/*                          */
/*   END SCROLL BAR STYLE   */
/*                          */

/*                     */
/*    Nav Bar Style    */
/*                     */
.nav_header {
  position: fixed;
  max-height: 130px;
  z-index: 999;
  width: 100%;
  padding-top: 16px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  box-shadow:  0px 8px 10px var(--navbar_shadow);

  .nav_row {
    position: relative;
    top: 20px;
  }
  .navigation a {
    font-size: 1rem;
    background-color: #83118956;
    padding: 1px 2px;
    border-radius: 5px;
    letter-spacing: .15rem;
    font-weight: bolder;
  }
}

.hero_section {
  position: relative;
	max-height: 150px;
  z-index: 998;
  width: 100%;
	padding-top: 42px;
	background: var(--main_bg) url("./assets/Images/Seoul_Tower_Panorama_Night.jpg") 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
  border-bottom: thin solid var(--blue);

  img {
    position: relative;
    top: -12px;
    float: left;
    height: 100px;
    width: 190px;
    padding: 5px;
    z-index: 2;
    border-radius: 15px;
  }
  .navigation a {
    font-size: 1rem;
    background-color: #83118956;
    padding: 1px 2px;
    border-radius: 5px;
    letter-spacing: .15rem;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 800px) {
  .nav_header, .hero_section {
      padding-top: 25px;

      .navigation {
        opacity: 0;
        pointer-events: none;

        a {
          background-color: #831189b7;
        }
      }
  }
}

.open_nav {
  max-height: 400px !important;
  
  .navigation {
    opacity: 1;
    pointer-events: all;
  }
}

.hero_section.open_nav {
  position: sticky;
  margin-bottom: -133px;
}


.open_nav .mobile_toggle, .open_nav .hero_mobile_toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 70% 35%;
  transform-origin: 70% 39%;
}

.sticky {
  /* background-color: var(--main_bg); */
  background: var(--main_bg) url("./assets/Images/Seoul_Tower_Panorama_Night.jpg") 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
  opacity: 1;
  top: 0px;
  border-bottom: 2px solid var(--blue); 
}

.logo, .hero_logo {
  position: relative;
  top: -24px;
  width: 220px;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;

    img {
      height: 100px;
      width: 190px;
      padding: 5px;
    }
}

@media only screen and (max-width: 800px) {
  .logo, .hero_logo {
      float: none;
  }
}

nav {
  float: right;
  width: 60%;
}

@media only screen and (max-width: 800px) {
  nav {
      width: 100%;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  width: 650px;

  li {
      display: inline-block;
      margin-left: 24px;
      line-height: 1.5;
  }
}

@media only screen and (max-width: 800px) {
  nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: end;
      width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
  }
}

/* Nav Bar Link Style */
nav ul a {
  position: relative;
  font-size: 0.95rem;
  color: var(--white);

  &:hover {
      color: var(--alt_white);
  }
  &::before {
      left: 0; 
  }
  &::after {
      right: 0;
  }
}

nav ul a:before, nav ul a:after {
  content: '';
  border-bottom: 1px solid var(--alt_white);
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav ul a:hover:before, nav ul a:hover:after {
  width: 50%;
}

.mobile_toggle, .hero_mobile_toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 800px) {
  .mobile_toggle, .hero_mobile_toggle {
      display: block;
  }
}

#hamburger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height:30px;
  width: 35px;
  display: block;
  z-index: 99999;
  position: relative;
  left: 5px;
  transition: all 200ms ease;
}

#hamburger:before {
  content: '';
  display: block;
  height: 3.5px;
  width: 30px;
  border-radius: 10px;
  background: var(--alt_white);
  box-shadow: 0 10px 0 var(--alt_white), 0 20px 0 var(--alt_white);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.nav_row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 36px;
}
/*                     */
/*  END NAVBAR STYLE   */
/*                     */


/*                             */
/*     BUTTON COMPONENT        */
/*                             */
.button_box {
  margin: 15px auto;
  position:relative;
  overflow:hidden;
  border-radius: 40px;
  transition:all .2s ease-in-out;
}

.button_box button {
  width:200px;
  margin: 0 auto;
  height:60px;
  /* padding: 8px 16px; */
  position:relative;
  background-color: var(--blue);
  text-transform:uppercase;
  color: var(--main_bg);
  font-weight:900;
  letter-spacing:1px;
  border: none;
  font-size: 1.25rem;
  outline:none;
  cursor: pointer;
}

.button_box::before {
  content:" ";
  display:block;
  width:200px;
  height: 95px;
  background: #CBE5EC50;
  position:absolute;
  top:-5px;
  left:-200px;
  transform:rotate(45deg);
  transition:all .2s ease-in-out;  
  z-index:1;
}

.button_box:hover:before {
  margin-left:300%;
}

.button_box:active {
  top: 4px;
}
/*                              */
/*     END BUTTON COMPONENT     */
/*                              */


/*                            */
/*        FOOTER STYLES       */
/*                            */
.footer {
  position: relative;
  padding: 16px 85px 36px 8px;
  min-height: 95px;
  background: var(--main_bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease;
}

.footer_border {
  border-top: 2px solid var(--blue);
}

.footer_links {
  padding: 0 0 0 32px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 90px;
}

.footer_link_column {
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p, a {
    margin: 0;
    font-size: 0.9rem;
  }
  p {
  font-family: 'Source Sans Pro', sans-serif;
    color: var(--white);
  }
}

.footer_spacer {
  margin: 6px 0
}

.footer_socials {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 14px;
  transition: all 200ms ease;
  /* margin-top: 3px; */

  i {
    font-size: 1.35rem;
  }
  svg {
    position: relative;
    top: 2px;
  }
  svg, i {
      height: 20px;
      width: 20px;
      stroke: none;
      fill: var(--white);
      color: var(--white);
  }
  svg:hover, i:hover {
  fill: var(--alt_white);
  color: var(--alt_white);
  }
}

.footer_images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0 56px;
}

.footer_image_one {
  height: 65px;
}

.footer_image_two {
  margin-top: 8px;
  height: 67px;
}

@media screen and (max-width: 870px) {
  .footer_links {
      flex-direction: column;
      align-items: flex-start;

      a {
        margin: 5px 0
      }
  }
  .footer_images {
    gap: 16px 56px;
    margin-right: 8px;
  }
  .footer_socials {
    margin-right: 8px;
    margin-top: 0px;
  }
  .bee_dev {
    height: 80px;
    margin-bottom: 12px;

      p, a {
          margin: 0;
      }
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding-right: 72px;
    padding-bottom: 16px;
  }
  .footer_links {
      padding-left: 12px;
  }
  .footer_images {
      margin-right: 0px;
      gap: 40px 16px;
      flex-direction: column;
  }
  .footer_socials {
      margin-right: 0px;
      margin-left: 2px;
  }
}

@media screen and (max-width: 370px) {
  .footer_images {
      margin-right: 4px;
      gap: 0 24px;
  }
  .footer_socials {
      margin-right: 4px;
  }
}

/*  Footer Link Style */
.footer_link {
  position: relative;
  font-size: 0.9rem;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;

  &:hover {
    color: var(--alt_white);
  }
  &::before {
      left: 0; 
  }
  &::after {
      right: 0;
  }
}

.footer_link:before, .footer_link:after {
  content: '';
  border-bottom: 1px solid var(--alt_white);
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer_link:hover:before, .footer_link:hover:after {
  width: 50%;
}
/*                            */
/*      END FOOTER STYLES     */
/*                            */


/*                             */
/*     GO TO TOP COMPONENT     */
/*                             */
.go_top_button {
  position: fixed;
  top: calc(100% - 105px);  
  right: 25px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: var(--main_bg);
  color: var(--blue);
  border: 3px solid var(--blue);
  border-radius: 25%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
      color: var(--shadow);
      border: 3px solid var(--shadow);
  }
}

@media screen and (max-width: 870px) {
  .go_top_button {
      top: calc(100% - 160px); 
  }
}

@media screen and (max-width: 555px) {
  .go_top_button {
      right: 12px;
  }
}

@media screen and (max-width: 500px) {
  .go_top_button {
      height: 35px;
      width: 35px;
      font-size: 20px;
      right: 16px;
      top: calc(100% - 80px); 
  }
}
/*                             */
/*   END GO TO TOP COMPONENT   */
/*                             */


/*                          */
/*        SLIDESHOW         */
/*                          */
.slideshow, .slideshow::after { 
  position: relative;
  width: 100%;
  min-width: 290px;
  aspect-ratio: 2/1;
  list-style-type: none;
  border: 3px solid var(--blue);
}

.slideshow li span { 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--alt_white);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 18s linear infinite 0s; 
}

/* images and times for slide show */
.slideshow li:nth-child(1) span { 
  background-image: url("./assets/Images/Dakkalbi.png"); 
}
.slideshow li:nth-child(2) span { 
  background-image: url("./assets/Images/Strawb_Croffle.jpg");
  animation-delay: 3s; 
}
.slideshow li:nth-child(3) span { 
  background-image: url("./assets/Images/Galbi2.png");
  animation-delay: 6s; 
}
.slideshow li:nth-child(4) span { 
  background-image: url("./assets/Images/Oreo_Croffle.jpg");   
  animation-delay: 9s; 
}
.slideshow li:nth-child(5) span { 
  background-image: url("./assets/Images/Kimbap.jpg");
  animation-delay: 12s; 
}
.slideshow li:nth-child(6) span { 
  background-image: url("./assets/Images/Bibim_Bap.jpg");
  animation-delay: 15s; 
}

/* Animation for slide show */
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

/*         DOTS STYLES       */
.dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--blue);
  border-radius: 20px;
  background-color: var(--shadow);
  padding: 2px;
  width: 150px;
  margin: 0 auto;
  transition: all 300ms ease;
  z-index: 100;

  li.dot, li.dot_active {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: thin solid var(--white);
      margin: 5px;
      cursor: pointer;
      transition: background-color 1s;
    }
    li.dot {
      background-color: var(--white);
    }
}

.dots li.dot_active {
  background-color: var(--blue);
}

@media screen and (max-width: 950px) {
  .dots {
    width: 125px;

    li.dot, li.dot_active {
      width: 12px;
      height: 12px;
      margin: 4px 4px;
    }
  }
}

@media screen and (max-width: 530px) {
  .dots {
    width: 100px;
    bottom: 12px;

    li.dot, li.dot_active {
      width: 8px;
      height: 8px;
      margin: 3px 3px;
    }
  }
}

@media screen and (max-width: 430px) {
  .dots {
    width: 75px;

    li.dot, li.dot_active {
      margin: 2px 2px;
    }
  }
}
/*                            */
/*    END SLIDESHOW STYLES    */
/*                            */


/*                   */
/*  404 PAGE STYLES  */
/*                   */
.error_404_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
      text-align: center;
      color: var(--white);
  }
  h4, h5 {
      margin-top: 8px;
      text-align: center;
      color: var(--white);
  }
  img {
      margin: 24px auto 16px;
      width: 50%;
      max-width: 600px;
      min-width: 290px;
      filter: drop-shadow(5px 5px 5px  var(--shadow)) brightness(var(--image_brightness));
  }
}

@media (max-width: 500px) {
  .error_404_page h2 {
      margin-top: 80px;
  }
}
/*                       */
/*  END 404 PAGE STYLES  */
/*                       */


/*                        */
/*    INDEX PAGE STYLE    */
/*                        */
.vet_owned  {
  width: 100%;
  margin: 0 auto 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  p{
    font-family: "Source";
    font-weight: 600;
    color: var(--main_bg);
    max-width: 800px;
    min-width: 290px;
  }
}

.menu_link {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--blue);

  h2 {
    margin: 0;
    padding: 8px 24px;
    background-color: var(--blue);
    color: var(--main_bg);
    width: 100%;
  }
  p {
    /* font-family: "Source"; */
    color: var(--white);
    text-align: center;
    padding: 24px 24px 12px 24px;
    width: 100%;
  }
}
/*                          */
/*   END INDEX PAGE STYLE   */
/*                          */


/*                         */
/*     MENU PAGE STYLE     */
/*                         */
.menu {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  img {
    border: 3px solid var(--blue);
    margin: 24px auto;
    max-width: 1200px;;
    min-width: 350px;
    width: 100%;
  }
}


@media screen and (max-width: 1220px) {
  .menu {
    img {
      margin: 0px auto;
    }
    img:nth-child(2) {
      border-top: none;
    }
  }
}
/*                         */
/*   END MENU PAGE STYLE   */
/*                         */


/*                      */
/*    LOCATION STYLE    */
/*                      */
.mapping iframe {
  min-height: 320px;
  min-width: 320px;
  width: 85dvw;
  height: 600px;
  border: 3px solid var(--blue);
  filter: brightness(85%);
}

.contact_info {
  width: 100%;
  min-width: 350px;
  max-width: 750px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main_bg);

  h1 {
    font-size: 3rem;
    letter-spacing: .125em;
  }
  h3 {
    width: 275px;
    letter-spacing: .125em;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    margin: 42px 0 8px;
  }
  h4{
    font-size: 1.35rem;
    font-weight: 100;
    letter-spacing: .09rem;
    word-spacing: .197rem;
    margin: 8px 0 16px;
    font-family: "Source";
  }
  h5 {
    font-size: 1.075rem;
    font-weight: 100;
    letter-spacing: .09rem;
    word-spacing: .197rem;
    margin: 8px 0 16px;
    font-family: "Source";
  }
  .day {
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 0px;
    font-family: "Kessel205W00-Book";
  }
  p {
    font-size: .8rem;
    letter-spacing: 0.09rem;
    text-align: center;
    padding: 3px 8px;
    border-top: thin solid var(--white);
    border-bottom: thin solid var(--white);
  }
  a {
    font-size: 1.35rem;
    text-align: center;
    font-family: "Source";

    &:hover {
      color: var(--alt_white);
      text-decoration: underline;
    }
  }
}
/*                        */
/*   END LOCATION STYLE   */
/*                        */